{% if site.banner %}
<aside class="fixed top-0 z-[200] flex items-center justify-around w-full h-[40px] px-4 lg:relative lg:py-6 text-center text-white leading-tight bg-orange">
  <!-- <a href="/schedule" class="hidden text-white no-underline md:inline-flex">
    🎉 &nbsp; <strong class="underline">Welcome to Chicago!</strong> &nbsp; 🎉
  </a> -->
  <!-- <a href="{{ site.ticket_link }}" class="text-white no-underline" target="_blank" rel="noopener noreferrer">
    🎫 &nbsp; Early bird tickets available through May 31st&nbsp; 🎫
  </a> -->
</aside>
{% endif %}

<header id="SiteHeader" class="{% if site.banner %}top-[40px]{% endif %} site-header is-closed lg:is-open lg:top-0">
  <div class="wrapper relative">
    <a href="/" aria-label="Go to homepage">
      <img src="/assets/img/2026/logo.svg" alt="DjangoCon US" class="h-[3.5rem]">
    </a>

    {% include "nav.html", class:"is-closed site-nav lg:is-open" %}

    <a href="{{ site.ticket_link }}" target="_blank" rel="noopener noreferrer" class="button hidden lg:block w-full bg-primary justify-self-end">Buy Tickets</a>

    <button id="NavToggler" class="site-nav-toggler is-closed">
      <svg class="w-[18px]" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2.66667V0H24V2.66667H0ZM0 18.6667V16H24V18.6667H0ZM0 10.6667V8H24V10.6667H0Z" fill="currentColor"/>
      </svg>
      <span aria-hidden="true" class="hidden xs:block">Menu</span>
    </button>
  </div>
</header>
