---
title: About DjangoCon US
description: |
  DjangoCon US is dedicated to providing a fun harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race, or religion.
hero_graphic: /assets/img/2026/about.svg
---

{% layout "_layouts/page.html" %}

{% block hero_content %}
    <p class="mb-4 subheading">DjangoCon US is a five-day international conference for the community by the community about the Django web framework, held each year in North America.</p>

    <p>
      DjangoCon US has something for everyone, from the person who develops Django applications for a living to the person who just tinkers in their spare time. You'll discover details about a range of diverse applications that people from all over the world are building with Django, get a deeper understanding of concepts you're already familiar with and discover new ways to use them, and have a lot of fun!
    </p>
{% endblock %}

{% block wrapper %}
<div class="bg-background block-container">
  <div class="wrapper">
    <div class="grid-1-2">
      <section>
        <h2 class="mb-8 site-h3">Pre-Conference</h2>

        <ul class="space-y-4">
          <li><s>
            {%
              include 'date-card.html',
                month:"Mar",
                days:"16",
                heading:"Call for Proposals Closes"
            %}
            <span class="sr-only">(Closed)</span>
          </s></li>
          <li><s>
            {%
              include 'date-card.html',
                month:"Mar",
                days:"16",
                heading:"Opportunity Grant Application Closes"
            %}
            <span class="sr-only">(Closed)</span>
         </s></li>
          <li>
            {%
              include 'date-card.html',
                month:"July",
                days:"1",
                heading:"Opportunity Grant and Proposal Notifications"
            %}
          </li>
        </ul>

        {% comment %}
        <div class="flex flex-wrap gap-4 mt-8">
          <a class="button" href="{{ site.cfp_application }}">Submit a Talk</a>
          <a class="button" href="{{ site.opportunity_grant_application }}">Apply for an Opportunity Grant</a>
        </div>
        {% endcomment %}
      </section>

      <section>
        <h2 class="mb-8 site-h3">Conference Schedule</h2>

        <ul class="space-y-10">
          <li>
            {%
              include 'date-card.html',
                month:"Aug",
                days:"24-26",
                heading:"Talks: Dozens of talks chosen by the community"
            %}
          </li>
          <li>
            {%
              include 'date-card.html',
                month:"Aug",
                days:"27-28",
                heading:"<a href='/sprints/'>Sprints: Team up to work on Django!</a>"
            %}
          </li>
        </ul>

        <div class="mt-8">
          {% comment %}
          <a class="button button-lg" href="{{ site.ticket_link }}">Buy Tickets!</a>
          <a class="button" href="/schedule/">Full Schedule</a>
          {% endcomment %}
        </div>
      </section>
    </div>
  </div>
</div>


<div class="block-container">
  <div class="wrapper">
    <h2 class="mb-8 site-h2 text-center">Conference Features</h2>

    <div class="grid gap-8 lg:grid-cols-3">
      <section class="relative flex flex-col gap-4 p-4 bg-white lg:pt-10">
        <svg class="w-12 h-12 text-dark-blue icon" aria-hidden="true" focusable="false">
          <use xlink:href="#people-icon"></use>
        </svg>

        <h3 class="site-h3">Code of Conduct</h3>
        <p>We're committed to providing a safe and friendly environment for everyone to learn, meet, and enjoy the conference. All organizers, attendees, speakers and sponsors must follow the <strong><a href="/conduct/" class="link">Code of Conduct</a></strong>.</p>
      </section>

      <section class="relative flex flex-col gap-4 p-6 bg-white lg:pt-10 card-effect-2">
        <svg class="w-12 h-12 text-dark-blue icon" aria-hidden="true" focusable="false">
          <use xlink:href="#heart-icon"></use>
        </svg>

        <h3 class="site-h3">Commitment to Diversity</h3>
        <p>It is a core aim of DjangoCon US 2026 to encourage diversity, enforce our Code of Conduct, and make our event as inclusive and accessible as possible. <strong><a href="/opportunity-grants/" class="link">Opportunity Grants</a></strong> help us achieve this goal.</p>
      </section>

      <section class="relative flex flex-col gap-4 p-6 bg-white lg:pt-10 card-effect-3">
        <svg class="w-12 h-12 text-dark-blue icon" aria-hidden="true" focusable="false">
          <use xlink:href="#document-icon"></use>
        </svg>

        <h3 class="site-h3">Public Health</h3>
        <p>As part of our commitment to the safety of our attendees, we have a <strong><a href="/public-health/" class="link">Public Health Policy</a></strong> and recommend all attendees to be vaccinated and masked, and have a negative COVID test prior to attending.</p>
      </section>
    </div>
  </div>
</div>

{% comment %}
<section class="section-pad theme-light-gray v-pad-bottom-extra">
  <div class="row card-row">
    <div class="medium-6 column">
      <div class="card card-theme-brand-color2 icon-right">
        <img
          src="/static/img/theme/icons/program.svg"
          alt=""
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title" id="program">Program</h3>
          <p>The DjangoCon US program features both novice talks for people just starting their journey into the world of development, as well as advanced talks for experienced developers.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 column">
      <div class="card card-theme-brand-color5 icon-right">
        <img
          src="/static/img/theme/icons/bag.svg"
          alt=""
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title" id="job-search">Job Search</h3>
          <p>We'll have boards available so you can let people know if you're recruiting new team members, or looking for a new position yourself!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
{% endblock %}
