---
title: Conference Organizers
description: |
  There is no 'I' in DjangoCon US. Thank you to all our volunteers who make DjangoCon US happen!

permalink: /organizers/
hero_graphic: /assets/img/2026/organizers.svg
---

{% layout "_layouts/page.html" %}

{% block hero_content %}
  <p class="lead">
    There is no "I" in DjangoCon US. Thank you to all our volunteers who make DjangoCon US happen!
  </p>
{% endblock %}

{% block wrapper %}
<div class="wrapper max-w-screen-xl mb-20">
  {% include "organizers-grid.html" %}
</div>
{% endblock %}
